// 全局变量
$color-main: #409eff;
$color-main-lite: #66b1ff;
$color-main-deep: #1385f7;

// 全局样式
.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.card-light {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

input:focus {
  outline: none;
}

button:focus {
  outline: none;
}
