// 全局变量
$color-main: #409eff;
$color-main-lite: #66b1ff;
$color-main-deep: rgb(36, 134, 231);
$radius: 5px;
$shadow: 0 0 5px rgba(0, 0, 0, 0.2);
// 全局样式
.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.card-light {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

input:focus {
  outline: none;
}

button:focus {
  outline: none;
}

p {
  text-indent: 2em;
  line-height: 1.8;
  text-align: justify;
}

textarea {
  // font-size: 1.2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  text-align: justify;
  line-height: 1.5;
  font-size: 14px;
  padding: 10px;
  box-sizing: border-box;
}

// 全局动画
.fade-down-enter-active,
.fade-down-leave-active {
  transition: all 0.5s ease;
}
.fade-down-enter,
.fade-down-leave-to {
  transform: translateY(50px);
  opacity: 0;
}
.fade-down-enter-to,
.fade-down-leave {
  transform: translateY(0px);
  opacity: 1;
}
